body {
  margin: 25px;
}

h1 {
  color: #577d9b;
}

.curTemp {
  font-size: 28px;
}

.card {
  background: linear-gradient(-45deg, #7da6cc 0%, #c9eef3 100%);
  border-radius: 5px;
  box-shadow: 5px 5px 25px #ccc;
  color: #113962;
  width: 375px;
  height: 425px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cardBorder {
  border: 2px solid #8cb5c8;
  border-radius: 5px;
  height: 415px;
  margin: 5px;
}

.space {
  margin: 50px 0px;
}
